In [1]:
a="data science"
a[0]

'd'

In [2]:
a[0]="analytics"
a

TypeError: 'str' object does not support item assignment

Tuple

In [4]:
t=(1,2,3,"analytics")
t

(1, 2, 3, 'analytics')

In [5]:
x1,y1,z1=(1,2,3)
x1

1

In [6]:
y1

2

In [7]:
z1

3

In [8]:
x1=7
x1

7

In [9]:
print(x1,y1,z1)

7 2 3

In [11]:
a={
    'k1' : [1,2,3],
    'k2' : [1,'analytics','datascience'],
    'k3' : ['test','test123']
    
  }

3datasciencetest123

In [12]:
str(a['k1'][2])+(a['k2'][2])+a['k3'][1]

'3datasciencetest123'

In [13]:
a.keys()

dict_keys(['k1', 'k2', 'k3'])

In [16]:
x=input()
if x[0] in ['a','e','i','o','u']:
    print(x.upper())
else:
    print(x.lower())

SHIKHA
shikha

In [17]:
import numpy as np
for i in np.arange(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [18]:
for i in np.arange(0,10):
    print(i*'$')

$
$$
$$$
$$$$
$$$$$
$$$$$$
$$$$$$$
$$$$$$$$
$$$$$$$$$

In [19]:
for i in np.arange(0,10):
    print((len(np.arange(0,10))-i)*'$')

$$$$$$$$$$
$$$$$$$$$
$$$$$$$$
$$$$$$$
$$$$$$
$$$$$
$$$$
$$$
$$
$

In [20]:
x=" "
for i in range(0,10):
    x=x+"$"
    print(x)

 $
 $$
 $$$
 $$$$
 $$$$$
 $$$$$$
 $$$$$$$
 $$$$$$$$
 $$$$$$$$$
 $$$$$$$$$$

In [21]:
for i in np.arange(65,91):
    print(chr(i))

A
B
C
D
E
F
G
H
I
J
K
L
M
N
O
P
Q
R
S
T
U
V
W
X
Y
Z

In [22]:
for i in np.arange(65,91):
    print(chr(i)+chr(155-i))

AZ
BY
CX
DW
EV
FU
GT
HS
IR
JQ
KP
LO
MN
NM
OL
PK
QJ
RI
SH
TG
UF
VE
WD
XC
YB
ZA

In [23]:
base_string="Well maintained ,awesome you sad have happy two odd odd odd happy options in this great based on  great the people you are inviting, for. Small birthday parties you can opt for second floor party hall and for bigger occasions you can look for third floor one. Nice staff with decent behavior. Ample car parking space for the guests available and side you will get two wheeler parking. Inside you will see some shops like mi, Dell Bajaj kalakarni and more"
base_string

'Well maintained ,awesome you sad have happy two odd odd odd happy options in this great based on  great the people you are inviting, for. Small birthday parties you can opt for second floor party hall and for bigger occasions you can look for third floor one. Nice staff with decent behavior. Ample car parking space for the guests available and side you will get two wheeler parking. Inside you will see some shops like mi, Dell Bajaj kalakarni and more'

In [24]:
upper_score=0
lower_score=0
for i in base_string:
    if i.isalpha()==True:
        if i.isupper()==True:
            upper_score=upper_score+1     
        else:
            lower_score=lower_score+1
print(upper_score)
print(lower_score)

7
359

In [25]:
base_string1=" I have purchased @@@ a phone wort@@@@ h of 200$ & and@!212 it has awe@!@!#!#some fe@!!#atures "
base_string1

' I have purchased @@@ a phone wort@@@@ h of 200$ & and@!212 it has awe@!@!#!#some fe@!!#atures '

In [26]:
alpha=0
numbers=0
specialchr=0
for i in base_string1:
    if i.isalpha()==True:
        alpha=alpha+1
    elif i.isalnum()==True:
            numbers=numbers+1
    else:
        specialchr=specialchr+1
print(alpha)
print(numbers)
print(specialchr)

50
6
39

In [27]:
len(base_string1)

95

PYTHON FUNCTIONS CHALLENGE

Write a Python function to find the Max of three numbers

In [28]:
import numpy as np
a=np.random.randint(1,10,3)
a

array([3, 5, 2])

In [29]:
for i in a:
    if a[0]>a[1] and a[0]>a[2]:
        print(a[0])
    elif a[1]>a[0] and a[1]>a[2]:
        print(a[1])
else:
    print(a[2])

5
5
5
2

In [30]:
max(a)

5

Write a Python function to sum all the numbers in a list.

In [31]:
x=[1,2,3,4,4,5,66,7,7]
x

[1, 2, 3, 4, 4, 5, 66, 7, 7]

In [32]:
sum=0
for j in x:
    sum=sum+j
print(sum)

99

Write a Python function to multiply all the numbers in a list

In [33]:
x=[1,2,3,4,4,5,66,7,7]
x

[1, 2, 3, 4, 4, 5, 66, 7, 7]

In [34]:
mul=1
for i in x:
    mul=mul*i
print(mul)

1552320

Write a Python function to calculate the factorial of a number (a nonnegative integer). The function accepts the number as an argument

In [35]:
n=int(input())
fact=1
for i in np.arange(1,n):
    fact=fact*i
print(fact)

10
362880

Write a Python function to check whether a number is in a given range

In [36]:
n=int(input())
if n in range(3,9):
    print("number is in range")
else:
    print("not in range")

10
not in range

Write a Python function that accepts a string and calculate the number of upper case letters and lower-case letters

In [37]:
base_string="A string is a data type used in programming, such as an integer and floating point unit, but is used to represent text rather than numbers. It is comprised of a set of characters that can also contain spaces and numbers"
base_string

'A string is a data type used in programming, such as an integer and floating point unit, but is used to represent text rather than numbers. It is comprised of a set of characters that can also contain spaces and numbers'

In [38]:
upper_score=0
lower_score=0
for i in base_string:
    if i.isalpha()==True:
        if i.isupper()==True:
            upper_score=upper_score+1     
        else:
            lower_score=lower_score+1
print(upper_score)
print(lower_score)

2
174

In [39]:
len(base_string)

219

Write a Python function that takes a list and returns a new list with unique elements of the first list

In [40]:
import numpy as np
x=[1,1,1,2,24,5,6,6,7,7,8,9,3]
x

[1, 1, 1, 2, 24, 5, 6, 6, 7, 7, 8, 9, 3]

In [41]:
y=[]
for i in x:
    if i not in y:
        y.append(i)

In [43]:
y

[1, 2, 24, 5, 6, 7, 8, 9, 3]

Write a Python function that takes a number as a parameter and check the number is prime or not

In [44]:
x=int(input())
k=[]
q=0
w=0
for i in range(2,x):
    k.append(i)
for j in k:
    if x%j==0:
        q=q+1
    else:
        w=w+1
if q==0:
    print(x," is prime")
else:
    print(x," is not a prime")

10
10  is not a prime

Write a Python program to print the even numbers from a given list

In [45]:
x=np.random.randint(2,10,20)
print(x)
y=[]

[4 8 2 8 2 8 4 7 6 6 2 5 7 8 4 4 7 7 3 3]

In [46]:
for i in x:
    if(i%2==0):
        y.append(i)  
print(y)

[4, 8, 2, 8, 2, 8, 4, 6, 6, 2, 8, 4, 4]

Write a Python function to check whether a number is perfect or not

In [47]:
n=int(input())
sum=0
for i in range(1,n):
    if (n%i==0):
        sum=sum+i
if(sum==n):
    print(n," is a Perfect number!")
else:
    print(n," is  not a Perfect number!")

10
10  is  not a Perfect number!

Write a Python function that checks whether a passed string is palindrome or not

In [48]:
x = input()
w = "" 
for i in x: 
    w = i + w 
    if (x==w): 
        print("YES passed string is palindrome")

madam
YES passed string is palindrome

Write a Python program that accepts a hyphen-separated sequence of words as input and prints the words in a hyphen-separated sequence after sorting them alphabetically

In [49]:
items=[n for n in input().split('-')]
items.sort()
print('-'.join(items))

apple-orange-banana-cherry
apple-banana-cherry-orange

Write a Python function to create and print a list where the values are Square of numbers between 1 and 30

In [50]:
n=int(input())
L=[]
for x in range(1,n):
    L.append(x**2)
print(L)

10
[1, 4, 9, 16, 25, 36, 49, 64, 81]

Write a Python function to check whether a string is a pangram or not.

In [55]:
import string 
  
def ispangram(str): 
    alphabet = "abcdefghijklmnopqrstuvwxyz"
    for char in alphabet: 
        if char not in str.lower(): 
            return False
  
    return True
      
# Driver code 
string = 'the quick brown fox jumps over the lazy dog'
if(ispangram(string) == True): 
    print("Yes") 
else: 
    print("No")

Yes

Write a Python function that prints out the first n rows of Pascal's triangle

In [5]:
a=""
for i in range(1,6):
    q=i*" *"
    print(q.center(20," "))
    k=i
    if i==5:
        while k>1:
            t=k*" *"
            print(t.center(20," "))
            k=k-1

          *
         * *
        * * *
       * * * *
      * * * * *
      * * * * *
       * * * *
        * * *
         * *

More examples

In [6]:
import numpy as np
x=[1,2]
for i in range(0,5):
    y=np.array(x)
    x.append(y.sum())
    print(x)

[1, 2, 3]
[1, 2, 3, 6]
[1, 2, 3, 6, 12]
[1, 2, 3, 6, 12, 24]
[1, 2, 3, 6, 12, 24, 48]

count-value example-hackathon question

In [8]:
arrayA = [1]
print(arrayA)
temp = []
for i in np.arange(0,10):
    temp = []
    count = 1
    for j in np.arange(0,len(arrayA)):
        value = arrayA[j]
        if (len(arrayA)>1) and (j < len(arrayA)-1) and (arrayA[j+1]==value):
            count = count + 1
            continue
        else:
            temp.append(count)
            temp.append(value)
            count = 1
    arrayA=temp
    print(arrayA)

[1]
[1, 1]
[2, 1]
[1, 2, 1, 1]
[1, 1, 1, 2, 2, 1]
[3, 1, 2, 2, 1, 1]
[1, 3, 1, 1, 2, 2, 2, 1]
[1, 1, 1, 3, 2, 1, 3, 2, 1, 1]
[3, 1, 1, 3, 1, 2, 1, 1, 1, 3, 1, 2, 2, 1]
[1, 3, 2, 1, 1, 3, 1, 1, 1, 2, 3, 1, 1, 3, 1, 1, 2, 2, 1, 1]
[1, 1, 1, 3, 1, 2, 2, 1, 1, 3, 3, 1, 1, 2, 1, 3, 2, 1, 1, 3, 2, 1, 2, 2, 2, 1]

In [9]:
lst = ['1','11']
for qry in range(1,10):
    nw=''
    rng = 0
    cnt = 1
    s = lst[-1]
    for i in range(len(s)-1):
        if s[i] != s[i+1]:
            nw=nw+str(cnt)+s[i]            
#             nw=nw+str(cnt)+s[rng:i+1]
            cnt = 1
            rng = i+1
        else:
            cnt += 1
    nw=nw+str(cnt)+s[i+1]
#     nw=nw+str(cnt)+s[rng:i+2]
#     print(nw)
    lst.append(nw)
lst

['1',
 '11',
 '21',
 '1211',
 '111221',
 '312211',
 '13112221',
 '1113213211',
 '31131211131221',
 '13211311123113112211',
 '11131221133112132113212221']