In [1]:
import seaborn as sns
import pandas as pd
import numpy as np

In [3]:
base_dataset=pd.read_csv("C:\\Users\\156125\\Music\\Data\\application_train.csv")

In [5]:
base_dataset.shape

(307511, 122)

In [6]:
base_dataset.sample(100)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
254580,394595,0,Cash loans,F,Y,Y,0,112500.0,852088.5,33921.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,6.0
23166,126952,0,Cash loans,M,Y,Y,0,193500.0,1223010.0,51948.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
15435,118013,0,Cash loans,M,N,Y,1,180000.0,835380.0,40189.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
11002,112809,0,Cash loans,M,Y,Y,0,135000.0,225000.0,8212.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
190915,321368,0,Cash loans,F,N,N,1,135000.0,1170000.0,30991.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
242811,381064,1,Cash loans,M,N,Y,1,90000.0,314100.0,13306.5,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,3.0
211843,345494,0,Cash loans,M,N,Y,1,247500.0,2517300.0,78264.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
273258,416745,0,Cash loans,F,N,Y,1,45000.0,88618.5,7735.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
264228,405979,0,Cash loans,F,N,Y,0,247500.0,679500.0,36333.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
68920,179931,0,Cash loans,M,Y,Y,0,202500.0,1243881.0,49329.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,5.0
186323,316004,0,Cash loans,F,N,Y,1,90000.0,172021.5,18193.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
306815,455472,1,Cash loans,M,N,Y,0,315000.0,675000.0,53460.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
10804,112578,0,Cash loans,F,N,N,0,144000.0,931617.0,41166.0,...,0,0,0,0,0.0,1.0,0.0,0.0,0.0,6.0
69774,180942,0,Revolving loans,M,Y,Y,0,216000.0,180000.0,9000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
266243,408426,0,Cash loans,M,N,N,0,225000.0,225000.0,20637.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,6.0
205593,338313,0,Revolving loans,F,Y,Y,0,270000.0,900000.0,45000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
135827,257538,1,Cash loans,F,N,N,2,135000.0,675000.0,32472.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
291431,437627,0,Cash loans,M,Y,Y,0,225000.0,332946.0,17127.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
164927,291189,0,Cash loans,F,N,Y,2,90000.0,76500.0,7452.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
122123,241588,0,Cash loans,F,Y,Y,0,67500.0,1211049.0,35541.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
239980,377897,0,Cash loans,F,N,Y,0,85500.0,143910.0,14148.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
84996,198605,0,Revolving loans,F,N,Y,1,144000.0,180000.0,9000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
16850,119651,0,Cash loans,F,Y,Y,1,292500.0,675000.0,34596.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
60397,170021,1,Cash loans,F,N,Y,2,263700.0,573628.5,26712.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
217481,351993,0,Cash loans,M,N,N,2,166500.0,1006920.0,38484.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
298959,446338,1,Cash loans,M,Y,Y,1,202500.0,719946.0,36886.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
173177,300686,0,Cash loans,F,N,Y,0,162000.0,528633.0,21096.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
69579,180701,0,Cash loans,F,N,N,0,202500.0,1107981.0,29227.5,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,0.0
212901,346713,0,Revolving loans,F,N,Y,0,67500.0,202500.0,10125.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
76515,188731,0,Cash loans,M,N,Y,0,202500.0,328851.0,24718.5,...,0,0,0,0,0.0,0.0,1.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138034,260078,0,Cash loans,F,N,Y,0,112500.0,754740.0,29376.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
96948,212541,0,Cash loans,M,N,Y,0,450000.0,1046700.0,53572.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
108684,226061,0,Revolving loans,F,N,Y,0,81000.0,225000.0,11250.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0
102286,218746,0,Cash loans,F,N,N,0,112500.0,634482.0,20466.0,...,0,0,0,0,0.0,0.0,1.0,0.0,1.0,3.0
19587,122837,0,Cash loans,M,Y,N,2,141750.0,592560.0,32274.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
7414,108641,0,Cash loans,M,N,Y,0,112500.0,163008.0,17685.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
302036,449926,0,Cash loans,F,Y,Y,0,67500.0,945000.0,40036.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
270676,413772,0,Cash loans,M,Y,Y,0,225000.0,248760.0,29520.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
216891,351309,0,Cash loans,F,N,Y,0,125100.0,754740.0,22198.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
29424,134167,0,Cash loans,M,N,Y,0,157500.0,1006920.0,42790.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,3.0
244787,383322,0,Cash loans,F,N,Y,0,144000.0,640080.0,24259.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
177682,305906,0,Cash loans,F,N,Y,0,202500.0,1546020.0,42642.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
256561,396887,0,Cash loans,F,N,Y,0,186750.0,900000.0,38263.5,...,0,0,0,0,1.0,0.0,0.0,0.0,0.0,2.0
235043,372259,0,Cash loans,M,Y,Y,0,135000.0,254700.0,14350.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
146220,269538,0,Cash loans,M,Y,Y,0,112500.0,755190.0,56592.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
265490,407494,0,Revolving loans,M,Y,Y,2,225000.0,270000.0,13500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0
147263,270738,0,Cash loans,F,N,Y,0,112500.0,367389.0,16312.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
82446,195615,0,Cash loans,F,N,N,0,112500.0,900000.0,52753.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
75142,187144,0,Revolving loans,F,Y,Y,0,180000.0,225000.0,11250.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
216524,350886,0,Cash loans,F,Y,N,0,202500.0,1764000.0,46530.0,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,5.0
34512,139988,0,Cash loans,F,N,Y,2,90000.0,309420.0,15178.5,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,4.0
224686,360239,0,Cash loans,M,N,N,0,118039.5,855882.0,31716.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
286729,432096,0,Cash loans,F,N,Y,0,67500.0,254700.0,14350.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
160928,286555,0,Cash loans,F,N,Y,2,126000.0,647046.0,21001.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
2497,102913,0,Cash loans,F,N,N,0,99000.0,814041.0,23800.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
94066,209232,0,Cash loans,F,N,N,0,180000.0,526491.0,28179.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
4608,105389,0,Revolving loans,F,N,Y,1,247500.0,157500.0,7875.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
217386,351878,0,Cash loans,F,N,Y,0,180000.0,284400.0,16456.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
159749,285186,0,Cash loans,M,Y,Y,2,265500.0,1078200.0,38331.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,3.0
65691,176179,0,Cash loans,F,N,Y,0,90000.0,363190.5,19116.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0

In [7]:
null_values=base_dataset.isna().sum()

In [8]:
null_values

SK_ID_CURR                         0
TARGET                             0
NAME_CONTRACT_TYPE                 0
CODE_GENDER                        0
FLAG_OWN_CAR                       0
FLAG_OWN_REALTY                    0
CNT_CHILDREN                       0
AMT_INCOME_TOTAL                   0
AMT_CREDIT                         0
AMT_ANNUITY                       12
AMT_GOODS_PRICE                  278
NAME_TYPE_SUITE                 1292
NAME_INCOME_TYPE                   0
NAME_EDUCATION_TYPE                0
NAME_FAMILY_STATUS                 0
NAME_HOUSING_TYPE                  0
REGION_POPULATION_RELATIVE         0
DAYS_BIRTH                         0
DAYS_EMPLOYED                      0
DAYS_REGISTRATION                  0
DAYS_ID_PUBLISH                    0
OWN_CAR_AGE                   202929
FLAG_MOBIL                         0
FLAG_EMP_PHONE                     0
FLAG_WORK_PHONE                    0
FLAG_CONT_MOBILE                   0
FLAG_PHONE                         0
FLAG_EMAIL                         0
OCCUPATION_TYPE                96391
CNT_FAM_MEMBERS                    2
                               ...
DEF_30_CNT_SOCIAL_CIRCLE        1021
OBS_60_CNT_SOCIAL_CIRCLE        1021
DEF_60_CNT_SOCIAL_CIRCLE        1021
DAYS_LAST_PHONE_CHANGE             1
FLAG_DOCUMENT_2                    0
FLAG_DOCUMENT_3                    0
FLAG_DOCUMENT_4                    0
FLAG_DOCUMENT_5                    0
FLAG_DOCUMENT_6                    0
FLAG_DOCUMENT_7                    0
FLAG_DOCUMENT_8                    0
FLAG_DOCUMENT_9                    0
FLAG_DOCUMENT_10                   0
FLAG_DOCUMENT_11                   0
FLAG_DOCUMENT_12                   0
FLAG_DOCUMENT_13                   0
FLAG_DOCUMENT_14                   0
FLAG_DOCUMENT_15                   0
FLAG_DOCUMENT_16                   0
FLAG_DOCUMENT_17                   0
FLAG_DOCUMENT_18                   0
FLAG_DOCUMENT_19                   0
FLAG_DOCUMENT_20                   0
FLAG_DOCUMENT_21                   0
AMT_REQ_CREDIT_BUREAU_HOUR     41519
AMT_REQ_CREDIT_BUREAU_DAY      41519
AMT_REQ_CREDIT_BUREAU_WEEK     41519
AMT_REQ_CREDIT_BUREAU_MON      41519
AMT_REQ_CREDIT_BUREAU_QRT      41519
AMT_REQ_CREDIT_BUREAU_YEAR     41519
Length: 122, dtype: int64

In [9]:
null_values=base_dataset.isna().sum()/base_dataset.shape[0]

In [10]:
null_values

SK_ID_CURR                    0.000000
TARGET                        0.000000
NAME_CONTRACT_TYPE            0.000000
CODE_GENDER                   0.000000
FLAG_OWN_CAR                  0.000000
FLAG_OWN_REALTY               0.000000
CNT_CHILDREN                  0.000000
AMT_INCOME_TOTAL              0.000000
AMT_CREDIT                    0.000000
AMT_ANNUITY                   0.000039
AMT_GOODS_PRICE               0.000904
NAME_TYPE_SUITE               0.004201
NAME_INCOME_TYPE              0.000000
NAME_EDUCATION_TYPE           0.000000
NAME_FAMILY_STATUS            0.000000
NAME_HOUSING_TYPE             0.000000
REGION_POPULATION_RELATIVE    0.000000
DAYS_BIRTH                    0.000000
DAYS_EMPLOYED                 0.000000
DAYS_REGISTRATION             0.000000
DAYS_ID_PUBLISH               0.000000
OWN_CAR_AGE                   0.659908
FLAG_MOBIL                    0.000000
FLAG_EMP_PHONE                0.000000
FLAG_WORK_PHONE               0.000000
FLAG_CONT_MOBILE              0.000000
FLAG_PHONE                    0.000000
FLAG_EMAIL                    0.000000
OCCUPATION_TYPE               0.313455
CNT_FAM_MEMBERS               0.000007
                                ...
DEF_30_CNT_SOCIAL_CIRCLE      0.003320
OBS_60_CNT_SOCIAL_CIRCLE      0.003320
DEF_60_CNT_SOCIAL_CIRCLE      0.003320
DAYS_LAST_PHONE_CHANGE        0.000003
FLAG_DOCUMENT_2               0.000000
FLAG_DOCUMENT_3               0.000000
FLAG_DOCUMENT_4               0.000000
FLAG_DOCUMENT_5               0.000000
FLAG_DOCUMENT_6               0.000000
FLAG_DOCUMENT_7               0.000000
FLAG_DOCUMENT_8               0.000000
FLAG_DOCUMENT_9               0.000000
FLAG_DOCUMENT_10              0.000000
FLAG_DOCUMENT_11              0.000000
FLAG_DOCUMENT_12              0.000000
FLAG_DOCUMENT_13              0.000000
FLAG_DOCUMENT_14              0.000000
FLAG_DOCUMENT_15              0.000000
FLAG_DOCUMENT_16              0.000000
FLAG_DOCUMENT_17              0.000000
FLAG_DOCUMENT_18              0.000000
FLAG_DOCUMENT_19              0.000000
FLAG_DOCUMENT_20              0.000000
FLAG_DOCUMENT_21              0.000000
AMT_REQ_CREDIT_BUREAU_HOUR    0.135016
AMT_REQ_CREDIT_BUREAU_DAY     0.135016
AMT_REQ_CREDIT_BUREAU_WEEK    0.135016
AMT_REQ_CREDIT_BUREAU_MON     0.135016
AMT_REQ_CREDIT_BUREAU_QRT     0.135016
AMT_REQ_CREDIT_BUREAU_YEAR    0.135016
Length: 122, dtype: float64

In [12]:
dropped_values=null_values[null_values>0.3].index
dropped_values.shape

(50,)

In [14]:
retained_values=null_values[null_values<0.3].index
retained_values.shape

(72,)

In [16]:
base_dataset.drop(dropped_values,axis=1,inplace=True)

In [17]:
base_dataset.shape

(307511, 72)

In [19]:
cont=base_dataset.describe().columns
cont

Index(['SK_ID_CURR', 'TARGET', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY', 'AMT_GOODS_PRICE',
       'REGION_POPULATION_RELATIVE', 'DAYS_BIRTH', 'DAYS_EMPLOYED',
       'DAYS_REGISTRATION', 'DAYS_ID_PUBLISH', 'FLAG_MOBIL', 'FLAG_EMP_PHONE',
       'FLAG_WORK_PHONE', 'FLAG_CONT_MOBILE', 'FLAG_PHONE', 'FLAG_EMAIL',
       'CNT_FAM_MEMBERS', 'REGION_RATING_CLIENT',
       'REGION_RATING_CLIENT_W_CITY', 'HOUR_APPR_PROCESS_START',
       'REG_REGION_NOT_LIVE_REGION', 'REG_REGION_NOT_WORK_REGION',
       'LIVE_REGION_NOT_WORK_REGION', 'REG_CITY_NOT_LIVE_CITY',
       'REG_CITY_NOT_WORK_CITY', 'LIVE_CITY_NOT_WORK_CITY', 'EXT_SOURCE_2',
       'EXT_SOURCE_3', 'OBS_30_CNT_SOCIAL_CIRCLE', 'DEF_30_CNT_SOCIAL_CIRCLE',
       'OBS_60_CNT_SOCIAL_CIRCLE', 'DEF_60_CNT_SOCIAL_CIRCLE',
       'DAYS_LAST_PHONE_CHANGE', 'FLAG_DOCUMENT_2', 'FLAG_DOCUMENT_3',
       'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5', 'FLAG_DOCUMENT_6',
       'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_8', 'FLAG_DOCUMENT_9',
       'FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_11', 'FLAG_DOCUMENT_12',
       'FLAG_DOCUMENT_13', 'FLAG_DOCUMENT_14', 'FLAG_DOCUMENT_15',
       'FLAG_DOCUMENT_16', 'FLAG_DOCUMENT_17', 'FLAG_DOCUMENT_18',
       'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20', 'FLAG_DOCUMENT_21',
       'AMT_REQ_CREDIT_BUREAU_HOUR', 'AMT_REQ_CREDIT_BUREAU_DAY',
       'AMT_REQ_CREDIT_BUREAU_WEEK', 'AMT_REQ_CREDIT_BUREAU_MON',
       'AMT_REQ_CREDIT_BUREAU_QRT', 'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object')

In [22]:
cat=[i for i in base_dataset.columns if i not in base_dataset.describe().columns ]

In [23]:
cat

['NAME_CONTRACT_TYPE',
 'CODE_GENDER',
 'FLAG_OWN_CAR',
 'FLAG_OWN_REALTY',
 'NAME_TYPE_SUITE',
 'NAME_INCOME_TYPE',
 'NAME_EDUCATION_TYPE',
 'NAME_FAMILY_STATUS',
 'NAME_HOUSING_TYPE',
 'WEEKDAY_APPR_PROCESS_START',
 'ORGANIZATION_TYPE']

In [27]:
base_dataset[cat]['CODE_GENDER'].value_counts().index[0]

'F'

In [29]:
for i in cont:
    base_dataset[i].fillna(base_dataset[i].median(),inplace=True)
for i in cat:
    base_dataset[i].fillna(base_dataset[i].value_counts().index[0],inplace=True)

In [30]:
base_dataset.isna().sum()

SK_ID_CURR                     0
TARGET                         0
NAME_CONTRACT_TYPE             0
CODE_GENDER                    0
FLAG_OWN_CAR                   0
FLAG_OWN_REALTY                0
CNT_CHILDREN                   0
AMT_INCOME_TOTAL               0
AMT_CREDIT                     0
AMT_ANNUITY                    0
AMT_GOODS_PRICE                0
NAME_TYPE_SUITE                0
NAME_INCOME_TYPE               0
NAME_EDUCATION_TYPE            0
NAME_FAMILY_STATUS             0
NAME_HOUSING_TYPE              0
REGION_POPULATION_RELATIVE     0
DAYS_BIRTH                     0
DAYS_EMPLOYED                  0
DAYS_REGISTRATION              0
DAYS_ID_PUBLISH                0
FLAG_MOBIL                     0
FLAG_EMP_PHONE                 0
FLAG_WORK_PHONE                0
FLAG_CONT_MOBILE               0
FLAG_PHONE                     0
FLAG_EMAIL                     0
CNT_FAM_MEMBERS                0
REGION_RATING_CLIENT           0
REGION_RATING_CLIENT_W_CITY    0
                              ..
DEF_30_CNT_SOCIAL_CIRCLE       0
OBS_60_CNT_SOCIAL_CIRCLE       0
DEF_60_CNT_SOCIAL_CIRCLE       0
DAYS_LAST_PHONE_CHANGE         0
FLAG_DOCUMENT_2                0
FLAG_DOCUMENT_3                0
FLAG_DOCUMENT_4                0
FLAG_DOCUMENT_5                0
FLAG_DOCUMENT_6                0
FLAG_DOCUMENT_7                0
FLAG_DOCUMENT_8                0
FLAG_DOCUMENT_9                0
FLAG_DOCUMENT_10               0
FLAG_DOCUMENT_11               0
FLAG_DOCUMENT_12               0
FLAG_DOCUMENT_13               0
FLAG_DOCUMENT_14               0
FLAG_DOCUMENT_15               0
FLAG_DOCUMENT_16               0
FLAG_DOCUMENT_17               0
FLAG_DOCUMENT_18               0
FLAG_DOCUMENT_19               0
FLAG_DOCUMENT_20               0
FLAG_DOCUMENT_21               0
AMT_REQ_CREDIT_BUREAU_HOUR     0
AMT_REQ_CREDIT_BUREAU_DAY      0
AMT_REQ_CREDIT_BUREAU_WEEK     0
AMT_REQ_CREDIT_BUREAU_MON      0
AMT_REQ_CREDIT_BUREAU_QRT      0
AMT_REQ_CREDIT_BUREAU_YEAR     0
Length: 72, dtype: int64

In [31]:
from sklearn.preprocessing import LabelEncoder

In [36]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
le.fit(base_dataset['CODE_GENDER'])

LabelEncoder()

In [37]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
le.fit(base_dataset["CODE_GENDER"])
x=le.transform(base_dataset[cat]["CODE_GENDER"])

In [38]:
base_dataset['CODE_GENDER']=x

In [39]:
x

array([1, 0, 1, ..., 0, 0, 0])

In [40]:
base_dataset.head() #code gender is converted to 0 and 1

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,1,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,0,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,1,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,0,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
4,100007,0,Cash loans,1,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [41]:
#to convert all the categorial data to continous data
from sklearn.preprocessing import LabelEncoder
for i in cat:
    le=LabelEncoder()
    #base_dataset[i]=base_dataset[i].astype(str)
    le.fit(base_dataset[i])
    x=le.transform(base_dataset[i])
    base_dataset[i]=x

In [42]:
base_dataset.head() #continous data

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,0,1,0,1,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,0,0,0,0,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,1,1,1,1,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,0,0,0,1,0,135000.0,312682.5,29686.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
4,100007,0,0,1,0,1,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [43]:
base_dataset

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,0,1,0,1,0,202500.000,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,0,0,0,0,0,270000.000,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,1,1,1,1,0,67500.000,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,0,0,0,1,0,135000.000,312682.5,29686.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
4,100007,0,0,1,0,1,0,121500.000,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
5,100008,0,0,1,0,1,0,99000.000,490495.5,27517.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
6,100009,0,0,0,1,1,1,171000.000,1560726.0,41301.0,...,0,0,0,0,0.0,0.0,0.0,1.0,1.0,2.0
7,100010,0,0,1,1,1,0,360000.000,1530000.0,42075.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
8,100011,0,0,0,0,1,0,112500.000,1019610.0,33826.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
9,100012,0,1,1,0,1,0,135000.000,405000.0,20250.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
10,100014,0,0,0,0,1,1,112500.000,652500.0,21177.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
11,100015,0,0,0,0,1,0,38419.155,148365.0,10678.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
12,100016,0,0,0,0,1,0,67500.000,80865.0,5881.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
13,100017,0,0,1,1,0,1,225000.000,918468.0,28966.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
14,100018,0,0,0,0,1,0,189000.000,773680.5,32778.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
15,100019,0,0,1,1,1,0,157500.000,299772.0,20160.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
16,100020,0,0,1,0,0,0,108000.000,509602.5,26149.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,0.0
17,100021,0,1,0,0,1,1,81000.000,270000.0,13500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
18,100022,0,1,0,0,1,0,112500.000,157500.0,7875.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
19,100023,0,0,0,0,1,1,90000.000,544491.0,17563.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
20,100024,0,1,1,1,1,0,135000.000,427500.0,21375.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
21,100025,0,0,0,1,1,1,202500.000,1132573.5,37561.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
22,100026,0,0,0,0,0,1,450000.000,497520.0,32521.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,5.0
23,100027,0,0,0,0,1,0,83250.000,239850.0,23850.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
24,100029,0,0,1,1,0,2,135000.000,247500.0,12703.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
25,100030,0,0,0,0,1,0,90000.000,225000.0,11074.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
26,100031,1,0,0,0,1,0,112500.000,979992.0,27076.5,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,2.0
27,100032,0,0,1,0,1,1,112500.000,327024.0,23827.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
28,100033,0,0,1,1,1,0,270000.000,790830.0,57676.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
29,100034,0,1,1,0,1,0,90000.000,180000.0,9000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307481,456225,1,0,1,0,1,0,225000.000,297000.0,19975.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
307482,456226,0,0,0,1,1,0,225000.000,500566.5,34969.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307483,456227,0,0,0,0,1,0,99000.000,247275.0,16479.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,5.0
307484,456228,0,0,0,1,0,0,540000.000,545040.0,35617.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307485,456229,0,1,0,0,1,1,270000.000,180000.0,9000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307486,456230,0,0,0,1,1,1,292500.000,355536.0,18283.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
307487,456231,0,0,1,0,1,0,117000.000,1071909.0,31473.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,8.0
307488,456232,0,0,0,0,0,0,157500.000,135000.0,13351.5,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,1.0
307489,456233,1,0,0,0,1,0,225000.000,521280.0,23089.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
307490,456234,0,0,1,0,1,0,81000.000,135000.0,9148.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307491,456235,0,0,1,1,1,2,90000.000,1078200.0,31522.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,7.0
307492,456236,0,0,1,1,1,0,585000.000,1575000.0,43443.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307493,456237,0,0,0,0,1,0,135000.000,946764.0,37678.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,7.0
307494,456238,0,0,1,1,0,1,270000.000,479700.0,46858.5,...,0,0,0,0,0.0,0.0,1.0,0.0,0.0,1.0
307495,456239,0,0,1,1,0,0,180000.000,808650.0,23773.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307496,456240,0,1,0,0,0,0,360000.000,337500.0,16875.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
307497,456241,0,0,0,1,1,0,180000.000,270126.0,12028.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,6.0
307498,456242,0,0,1,1,1,0,198000.000,1312110.0,52168.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
307499,456243,0,0,0,0,1,0,81000.000,225000.0,12694.5,...,0,0,0,0,0.0,0.0,0.0,1.0,1.0,0.0
307500,456244,0,0,0,0,1,0,261000.000,1303812.0,35982.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,5.0
307501,456245,0,0,0,0,1,3,81000.000,269550.0,11871.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307502,456246,0,0,0,0,1,1,94500.000,225000.0,10620.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307503,456247,0,0,0,0,1,0,112500.000,345510.0,17770.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,2.0
307504,456248,0,0,0,0,1,0,153000.000,331920.0,16096.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307505,456249,0,0,0,0,1,0,112500.000,225000.0,22050.0,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,0.0
307506,456251,0,0,1,0,0,0,157500.000,254700.0,27558.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307507,456252,0,0,0,0,1,0,72000.000,269550.0,12001.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307508,456253,0,0,0,0,1,0,153000.000,677664.0,29979.0,...,0,0,0,0,1.0,0.0,0.0,1.0,0.0,1.0
307509,456254,1,0,0,0,1,0,171000.000,370107.0,20205.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307510,456255,0,0,0,0,0,0,157500.000,675000.0,49117.5,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,1.0

In [44]:
base_dataset.shape

(307511, 72)

In [9]:
import seaborn as sns
import pandas as pd
import numpy as np

In [10]:
base_dataset=pd.read_csv("C:\\Users\\156125\\Music\\Data\\application_train.csv")

In [11]:
cont=base_dataset.describe().columns
cont

Index(['SK_ID_CURR', 'TARGET', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY', 'AMT_GOODS_PRICE',
       'REGION_POPULATION_RELATIVE', 'DAYS_BIRTH', 'DAYS_EMPLOYED',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=106)

In [ ]:
for i in cont:
    x=base_dataset[i].values
    qrt1=np.quantile(x,0.25)
    qrt3=np.quantile(x,0.75)
    iqr=qrt3-qrt1
    utv=qrt3+1.5*(iqr)
    ltv=qrt1-1.5*(iqr)
    y=[]
    for i in x:
        if i<ltv or i>utv:
            y.append(np.median(x))
        else:
            y.append(i)
    base_dataset[i]=y

In [2]:
import seaborn as sns
import pandas as pd
import numpy as np
base_dataset=pd.read_csv("C:\\Users\\156125\\Music\\Data\\application_train.csv")

In [5]:
x=pd.DataFrame(base_dataset['TARGET'])

In [10]:
from sklearn.preprocessing import MinMaxScaler
le=MinMaxScaler()
le.fit(x)
pd.DataFrame(le.transform(x)).head()

     0
0  1.0
1  0.0
2  0.0
3  0.0
4  0.0

In [11]:
from sklearn.preprocessing import StandardScaler
le=StandardScaler()
le.fit(x)
x=pd.DataFrame(le.transform(x)).head()

In [12]:
len(x[0])

5