In [1]:
import seaborn as sns

In [2]:
data=sns.load_dataset("titanic")

In [4]:
x=data.columns
x

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone'],
      dtype='object')

In [5]:
y=data.corr().columns
dataset=data[y]

In [6]:
char=[]
for i in x:
    if i not in y:
        char.append(i)
char

['sex', 'embarked', 'class', 'who', 'deck', 'embark_town', 'alive']

In [7]:
char

['sex', 'embarked', 'class', 'who', 'deck', 'embark_town', 'alive']

In [8]:
dataset["survived"].value_counts()

0    549
1    342
Name: survived, dtype: int64

In [9]:
d1=dataset["survived"]==0
d2=dataset["survived"]==1

In [10]:
k1=dataset[d1]
k1.shape

(549, 8)

In [11]:
k2=dataset[d2]
k2.shape

(342, 8)

In [12]:
k1.shape[0]-k2.shape[0]

207

In [13]:
k2[0:3].values.mean(axis=0)

array([1.0, 1.6666666666666667, 33.0, 0.6666666666666666, 0.0,
       44.10276666666667, 0.0, 0.3333333333333333], dtype=object)

In [14]:
k2[0:3].values

array([[1, 1, 38.0, 1, 0, 71.2833, False, False],
       [1, 3, 26.0, 0, 0, 7.925, False, True],
       [1, 1, 35.0, 1, 0, 53.1, False, False]], dtype=object)

In [15]:
import numpy as np
r=[]
for i in range(0,207):
    p=np.random.randint(0,342)
    #q=np.random.randint(30,81)
    r.append(k2[p:p+3].values.mean(axis=0))

In [16]:
import pandas as pd

In [17]:
r=pd.DataFrame(r)

In [18]:
# changing r table column names to dataset columns
r.columns=dataset.columns

In [19]:
k2.append(r)

,survived,pclass,age,sibsp,parch,fare,adult_male,alone
1,1.0,1.000000,38.000000,1.000000,0.000000,71.283300,0.000000,0.000000
2,1.0,3.000000,26.000000,0.000000,0.000000,7.925000,0.000000,1.000000
3,1.0,1.000000,35.000000,1.000000,0.000000,53.100000,0.000000,0.000000
8,1.0,3.000000,27.000000,0.000000,2.000000,11.133300,0.000000,0.000000
9,1.0,2.000000,14.000000,1.000000,0.000000,30.070800,0.000000,0.000000
10,1.0,3.000000,4.000000,1.000000,1.000000,16.700000,0.000000,0.000000
11,1.0,1.000000,58.000000,0.000000,0.000000,26.550000,0.000000,1.000000
15,1.0,2.000000,55.000000,0.000000,0.000000,16.000000,0.000000,1.000000
17,1.0,2.000000,NaN,0.000000,0.000000,13.000000,1.000000,1.000000
19,1.0,3.000000,NaN,0.000000,0.000000,7.225000,0.000000,1.000000
21,1.0,2.000000,34.000000,0.000000,0.000000,13.000000,1.000000,1.000000
22,1.0,3.000000,15.000000,0.000000,0.000000,8.029200,0.000000,1.000000
23,1.0,1.000000,28.000000,0.000000,0.000000,35.500000,1.000000,1.000000
25,1.0,3.000000,38.000000,1.000000,5.000000,31.387500,0.000000,0.000000
28,1.0,3.000000,NaN,0.000000,0.000000,7.879200,0.000000,1.000000
31,1.0,1.000000,NaN,1.000000,0.000000,146.520800,0.000000,0.000000
32,1.0,3.000000,NaN,0.000000,0.000000,7.750000,0.000000,1.000000
36,1.0,3.000000,NaN,0.000000,0.000000,7.229200,1.000000,1.000000
39,1.0,3.000000,14.000000,1.000000,0.000000,11.241700,0.000000,0.000000
43,1.0,2.000000,3.000000,1.000000,2.000000,41.579200,0.000000,0.000000
44,1.0,3.000000,19.000000,0.000000,0.000000,7.879200,0.000000,1.000000
47,1.0,3.000000,NaN,0.000000,0.000000,7.750000,0.000000,1.000000
52,1.0,1.000000,49.000000,1.000000,0.000000,76.729200,0.000000,0.000000
53,1.0,2.000000,29.000000,1.000000,0.000000,26.000000,0.000000,0.000000
55,1.0,1.000000,NaN,0.000000,0.000000,35.500000,1.000000,1.000000
56,1.0,2.000000,21.000000,0.000000,0.000000,10.500000,0.000000,1.000000
58,1.0,2.000000,5.000000,1.000000,2.000000,27.750000,0.000000,0.000000
61,1.0,1.000000,38.000000,0.000000,0.000000,80.000000,0.000000,1.000000
65,1.0,3.000000,NaN,1.000000,1.000000,15.245800,1.000000,0.000000
66,1.0,2.000000,29.000000,0.000000,0.000000,10.500000,0.000000,1.000000
...,...,...,...,...,...,...,...,...
177,1.0,1.666667,NaN,0.666667,0.000000,48.287500,0.333333,0.333333
178,1.0,1.666667,27.666667,1.333333,2.000000,55.000000,0.000000,0.000000
179,1.0,1.333333,28.666667,0.666667,0.333333,28.016667,0.666667,0.666667
180,1.0,2.000000,NaN,0.000000,0.666667,36.348600,0.666667,0.666667
181,1.0,1.666667,33.000000,0.666667,0.000000,44.102767,0.000000,0.333333
182,1.0,2.000000,22.000000,1.333333,0.666667,35.765300,0.666667,0.000000
183,1.0,2.333333,23.333333,0.333333,0.333333,13.108333,0.333333,0.666667
184,1.0,1.666667,NaN,0.000000,0.000000,39.065267,0.666667,1.000000
185,1.0,2.333333,NaN,0.333333,1.000000,19.619433,0.000000,0.333333
186,1.0,2.000000,34.333333,0.333333,0.333333,56.386100,0.000000,0.666667
187,1.0,1.666667,39.666667,0.333333,0.000000,31.145833,0.666667,0.666667
188,1.0,1.666667,35.666667,0.666667,0.666667,68.395833,0.333333,0.333333
189,1.0,1.666667,32.000000,0.333333,0.666667,31.493067,0.000000,0.333333
190,1.0,2.000000,34.333333,0.333333,0.333333,56.386100,0.000000,0.666667
191,1.0,2.333333,22.666667,0.333333,0.666667,18.000000,0.000000,0.666667
192,1.0,1.666667,NaN,0.333333,0.333333,72.100000,0.333333,0.666667
193,1.0,1.333333,35.000000,0.333333,0.333333,66.747200,0.000000,0.666667
194,1.0,1.333333,34.333333,0.333333,0.666667,63.588900,0.000000,0.333333
195,1.0,2.000000,35.000000,0.333333,0.000000,25.608333,0.333333,0.666667
196,1.0,2.000000,NaN,0.000000,0.000000,15.712500,0.333333,1.000000
197,1.0,1.666667,40.333333,0.333333,0.333333,41.233333,0.666667,0.666667
198,1.0,1.000000,NaN,0.000000,0.000000,251.222233,0.666667,1.000000
199,1.0,2.333333,NaN,0.333333,0.000000,30.076400,0.000000,0.666667
200,1.0,1.000000,NaN,0.000000,0.000000,226.009733,0.000000,1.000000
201,1.0,2.000000,NaN,1.000000,0.333333,32.975000,0.333333,0.000000
202,1.0,1.666667,23.000000,1.000000,0.333333,65.659733,0.333333,0.000000
203,1.0,1.666667,NaN,1.333333,0.000000,64.525000,0.666667,0.000000
204,1.0,2.666667,NaN,1.000000,0.000000,11.379167,0.000000,0.666667
205,1.0,2.333333,35.666667,0.666667,0.333333,34.968067,0.333333,0.333333
206,1.0,1.333333,NaN,0.666667,0.333333,63.488900,0.333333,0.333333

In [20]:
k1.shape

(549, 8)

In [21]:
k2.shape

(342, 8)

In [22]:
r.shape

(207, 8)

In [23]:
k2.append(r).shape

(549, 8)

In [24]:
k3=k2.append(r)

In [25]:
k3.shape

(549, 8)

In [26]:
k1.shape[0]==k3.shape[0]

True

In [27]:
r.mean()

survived       1.000000
pclass         1.972625
age           28.152338
sibsp          0.483092
parch          0.475040
fare          49.148766
adult_male     0.264895
alone          0.476651
dtype: float64

In [28]:
r.isna().sum()

survived       0
pclass         0
age           73
sibsp          0
parch          0
fare           0
adult_male     0
alone          0
dtype: int64

In [29]:
for i in r:
    r[i].fillna(r[i].mean(),inplace=True)
r

,survived,pclass,age,sibsp,parch,fare,adult_male,alone
0,1.0,2.333333,29.333333,0.333333,0.666667,24.052767,0.000000,0.333333
1,1.0,1.333333,36.000000,1.000000,0.333333,36.826400,0.666667,0.333333
2,1.0,2.333333,24.333333,0.666667,0.333333,12.663867,0.000000,0.333333
3,1.0,2.333333,21.666667,0.333333,0.333333,14.641667,0.333333,0.666667
4,1.0,1.000000,26.000000,0.000000,0.000000,30.000000,1.000000,1.000000
5,1.0,2.333333,28.152338,0.333333,0.333333,42.304167,0.666667,0.333333
6,1.0,2.333333,28.152338,1.333333,1.000000,39.833333,0.000000,0.000000
7,1.0,2.333333,12.806667,0.333333,1.000000,45.163900,0.333333,0.333333
8,1.0,1.333333,28.152338,0.333333,0.000000,29.637500,0.333333,0.666667
9,1.0,1.666667,27.666667,1.333333,2.000000,55.000000,0.000000,0.000000
10,1.0,2.000000,29.333333,0.333333,0.333333,56.183333,0.333333,0.666667
11,1.0,2.666667,16.610000,1.333333,1.333333,31.140267,0.333333,0.333333
12,1.0,1.666667,28.152338,0.333333,0.000000,24.000000,0.333333,0.666667
13,1.0,2.333333,28.152338,1.000000,0.333333,50.827767,0.666667,0.333333
14,1.0,2.000000,28.152338,0.000000,1.333333,51.677767,0.000000,0.333333
15,1.0,2.000000,23.333333,0.333333,0.666667,20.011100,0.000000,0.333333
16,1.0,1.666667,34.916667,1.000000,0.333333,43.829167,0.666667,0.333333
17,1.0,1.666667,26.666667,1.333333,1.666667,54.916667,0.000000,0.000000
18,1.0,2.000000,30.000000,0.333333,1.666667,27.433333,0.333333,0.000000
19,1.0,2.000000,26.333333,0.000000,0.000000,20.200000,0.666667,1.000000
20,1.0,1.666667,35.666667,0.666667,0.666667,68.395833,0.333333,0.333333
21,1.0,1.666667,31.333333,0.333333,0.333333,59.211100,0.000000,0.666667
22,1.0,1.666667,41.000000,1.000000,0.333333,45.550000,0.000000,0.000000
23,1.0,2.333333,29.666667,0.333333,0.333333,20.613900,0.333333,0.666667
24,1.0,1.666667,28.152338,0.333333,0.333333,56.451367,0.666667,0.666667
25,1.0,1.666667,33.333333,0.333333,0.000000,43.333333,0.000000,0.666667
26,1.0,1.333333,47.000000,1.000000,1.666667,73.652767,0.000000,0.000000
27,1.0,1.666667,22.333333,0.333333,0.000000,59.226400,0.000000,0.666667
28,1.0,1.666667,27.000000,0.000000,0.333333,199.633367,0.666667,0.666667
29,1.0,2.666667,15.000000,0.666667,1.000000,19.301367,0.000000,0.000000
...,...,...,...,...,...,...,...,...
177,1.0,1.666667,28.152338,0.666667,0.000000,48.287500,0.333333,0.333333
178,1.0,1.666667,27.666667,1.333333,2.000000,55.000000,0.000000,0.000000
179,1.0,1.333333,28.666667,0.666667,0.333333,28.016667,0.666667,0.666667
180,1.0,2.000000,28.152338,0.000000,0.666667,36.348600,0.666667,0.666667
181,1.0,1.666667,33.000000,0.666667,0.000000,44.102767,0.000000,0.333333
182,1.0,2.000000,22.000000,1.333333,0.666667,35.765300,0.666667,0.000000
183,1.0,2.333333,23.333333,0.333333,0.333333,13.108333,0.333333,0.666667
184,1.0,1.666667,28.152338,0.000000,0.000000,39.065267,0.666667,1.000000
185,1.0,2.333333,28.152338,0.333333,1.000000,19.619433,0.000000,0.333333
186,1.0,2.000000,34.333333,0.333333,0.333333,56.386100,0.000000,0.666667
187,1.0,1.666667,39.666667,0.333333,0.000000,31.145833,0.666667,0.666667
188,1.0,1.666667,35.666667,0.666667,0.666667,68.395833,0.333333,0.333333
189,1.0,1.666667,32.000000,0.333333,0.666667,31.493067,0.000000,0.333333
190,1.0,2.000000,34.333333,0.333333,0.333333,56.386100,0.000000,0.666667
191,1.0,2.333333,22.666667,0.333333,0.666667,18.000000,0.000000,0.666667
192,1.0,1.666667,28.152338,0.333333,0.333333,72.100000,0.333333,0.666667
193,1.0,1.333333,35.000000,0.333333,0.333333,66.747200,0.000000,0.666667
194,1.0,1.333333,34.333333,0.333333,0.666667,63.588900,0.000000,0.333333
195,1.0,2.000000,35.000000,0.333333,0.000000,25.608333,0.333333,0.666667
196,1.0,2.000000,28.152338,0.000000,0.000000,15.712500,0.333333,1.000000
197,1.0,1.666667,40.333333,0.333333,0.333333,41.233333,0.666667,0.666667
198,1.0,1.000000,28.152338,0.000000,0.000000,251.222233,0.666667,1.000000
199,1.0,2.333333,28.152338,0.333333,0.000000,30.076400,0.000000,0.666667
200,1.0,1.000000,28.152338,0.000000,0.000000,226.009733,0.000000,1.000000
201,1.0,2.000000,28.152338,1.000000,0.333333,32.975000,0.333333,0.000000
202,1.0,1.666667,23.000000,1.000000,0.333333,65.659733,0.333333,0.000000
203,1.0,1.666667,28.152338,1.333333,0.000000,64.525000,0.666667,0.000000
204,1.0,2.666667,28.152338,1.000000,0.000000,11.379167,0.000000,0.666667
205,1.0,2.333333,35.666667,0.666667,0.333333,34.968067,0.333333,0.333333
206,1.0,1.333333,28.152338,0.666667,0.333333,63.488900,0.333333,0.333333

In [30]:
r.isna().sum()

survived      0
pclass        0
age           0
sibsp         0
parch         0
fare          0
adult_male    0
alone         0
dtype: int64

In [31]:
k3=k2.append(r)

In [32]:
k3.isna().sum()

survived       0
pclass         0
age           52
sibsp          0
parch          0
fare           0
adult_male     0
alone          0
dtype: int64

In [33]:
for i in k3:
    k3[i].fillna(k3[i].mean(),inplace=True)
k3

,survived,pclass,age,sibsp,parch,fare,adult_male,alone
1,1.0,1.000000,38.000000,1.000000,0.000000,71.283300,0.000000,0.000000
2,1.0,3.000000,26.000000,0.000000,0.000000,7.925000,0.000000,1.000000
3,1.0,1.000000,35.000000,1.000000,0.000000,53.100000,0.000000,0.000000
8,1.0,3.000000,27.000000,0.000000,2.000000,11.133300,0.000000,0.000000
9,1.0,2.000000,14.000000,1.000000,0.000000,30.070800,0.000000,0.000000
10,1.0,3.000000,4.000000,1.000000,1.000000,16.700000,0.000000,0.000000
11,1.0,1.000000,58.000000,0.000000,0.000000,26.550000,0.000000,1.000000
15,1.0,2.000000,55.000000,0.000000,0.000000,16.000000,0.000000,1.000000
17,1.0,2.000000,28.263992,0.000000,0.000000,13.000000,1.000000,1.000000
19,1.0,3.000000,28.263992,0.000000,0.000000,7.225000,0.000000,1.000000
21,1.0,2.000000,34.000000,0.000000,0.000000,13.000000,1.000000,1.000000
22,1.0,3.000000,15.000000,0.000000,0.000000,8.029200,0.000000,1.000000
23,1.0,1.000000,28.000000,0.000000,0.000000,35.500000,1.000000,1.000000
25,1.0,3.000000,38.000000,1.000000,5.000000,31.387500,0.000000,0.000000
28,1.0,3.000000,28.263992,0.000000,0.000000,7.879200,0.000000,1.000000
31,1.0,1.000000,28.263992,1.000000,0.000000,146.520800,0.000000,0.000000
32,1.0,3.000000,28.263992,0.000000,0.000000,7.750000,0.000000,1.000000
36,1.0,3.000000,28.263992,0.000000,0.000000,7.229200,1.000000,1.000000
39,1.0,3.000000,14.000000,1.000000,0.000000,11.241700,0.000000,0.000000
43,1.0,2.000000,3.000000,1.000000,2.000000,41.579200,0.000000,0.000000
44,1.0,3.000000,19.000000,0.000000,0.000000,7.879200,0.000000,1.000000
47,1.0,3.000000,28.263992,0.000000,0.000000,7.750000,0.000000,1.000000
52,1.0,1.000000,49.000000,1.000000,0.000000,76.729200,0.000000,0.000000
53,1.0,2.000000,29.000000,1.000000,0.000000,26.000000,0.000000,0.000000
55,1.0,1.000000,28.263992,0.000000,0.000000,35.500000,1.000000,1.000000
56,1.0,2.000000,21.000000,0.000000,0.000000,10.500000,0.000000,1.000000
58,1.0,2.000000,5.000000,1.000000,2.000000,27.750000,0.000000,0.000000
61,1.0,1.000000,38.000000,0.000000,0.000000,80.000000,0.000000,1.000000
65,1.0,3.000000,28.263992,1.000000,1.000000,15.245800,1.000000,0.000000
66,1.0,2.000000,29.000000,0.000000,0.000000,10.500000,0.000000,1.000000
...,...,...,...,...,...,...,...,...
177,1.0,1.666667,28.152338,0.666667,0.000000,48.287500,0.333333,0.333333
178,1.0,1.666667,27.666667,1.333333,2.000000,55.000000,0.000000,0.000000
179,1.0,1.333333,28.666667,0.666667,0.333333,28.016667,0.666667,0.666667
180,1.0,2.000000,28.152338,0.000000,0.666667,36.348600,0.666667,0.666667
181,1.0,1.666667,33.000000,0.666667,0.000000,44.102767,0.000000,0.333333
182,1.0,2.000000,22.000000,1.333333,0.666667,35.765300,0.666667,0.000000
183,1.0,2.333333,23.333333,0.333333,0.333333,13.108333,0.333333,0.666667
184,1.0,1.666667,28.152338,0.000000,0.000000,39.065267,0.666667,1.000000
185,1.0,2.333333,28.152338,0.333333,1.000000,19.619433,0.000000,0.333333
186,1.0,2.000000,34.333333,0.333333,0.333333,56.386100,0.000000,0.666667
187,1.0,1.666667,39.666667,0.333333,0.000000,31.145833,0.666667,0.666667
188,1.0,1.666667,35.666667,0.666667,0.666667,68.395833,0.333333,0.333333
189,1.0,1.666667,32.000000,0.333333,0.666667,31.493067,0.000000,0.333333
190,1.0,2.000000,34.333333,0.333333,0.333333,56.386100,0.000000,0.666667
191,1.0,2.333333,22.666667,0.333333,0.666667,18.000000,0.000000,0.666667
192,1.0,1.666667,28.152338,0.333333,0.333333,72.100000,0.333333,0.666667
193,1.0,1.333333,35.000000,0.333333,0.333333,66.747200,0.000000,0.666667
194,1.0,1.333333,34.333333,0.333333,0.666667,63.588900,0.000000,0.333333
195,1.0,2.000000,35.000000,0.333333,0.000000,25.608333,0.333333,0.666667
196,1.0,2.000000,28.152338,0.000000,0.000000,15.712500,0.333333,1.000000
197,1.0,1.666667,40.333333,0.333333,0.333333,41.233333,0.666667,0.666667
198,1.0,1.000000,28.152338,0.000000,0.000000,251.222233,0.666667,1.000000
199,1.0,2.333333,28.152338,0.333333,0.000000,30.076400,0.000000,0.666667
200,1.0,1.000000,28.152338,0.000000,0.000000,226.009733,0.000000,1.000000
201,1.0,2.000000,28.152338,1.000000,0.333333,32.975000,0.333333,0.000000
202,1.0,1.666667,23.000000,1.000000,0.333333,65.659733,0.333333,0.000000
203,1.0,1.666667,28.152338,1.333333,0.000000,64.525000,0.666667,0.000000
204,1.0,2.666667,28.152338,1.000000,0.000000,11.379167,0.000000,0.666667
205,1.0,2.333333,35.666667,0.666667,0.333333,34.968067,0.333333,0.333333
206,1.0,1.333333,28.152338,0.666667,0.333333,63.488900,0.333333,0.333333

In [34]:
k3.isna().sum()

survived      0
pclass        0
age           0
sibsp         0
parch         0
fare          0
adult_male    0
alone         0
dtype: int64

In [35]:
char

['sex', 'embarked', 'class', 'who', 'deck', 'embark_town', 'alive']

In [36]:
k1.isna().sum()

survived        0
pclass          0
age           125
sibsp           0
parch           0
fare            0
adult_male      0
alone           0
dtype: int64

In [37]:
for i in k1:
    k1[i].fillna(k1[i].mean(),inplace=True)

C:\Users\156125\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\generic.py:6130: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [38]:
k1.isna().sum()

survived      0
pclass        0
age           0
sibsp         0
parch         0
fare          0
adult_male    0
alone         0
dtype: int64